#
# GENERAL SETTINGS
#

LOGLEVEL=debug
WEBPORT=8899
SESSION_SECRET=cat_dancing_on_keyboard_goes_brrrrrrrrrrrrrrrrrrr
DATABASE_URL="mysql://btebackend:verysecurepassw0rd@database:3306/btebackend"

#
# KEYCLOAK SETTINGS
#

KEYCLOAK_CLIENTID=clientid
KEYCLOAK_CLIENTSECRET=verysecretsecret
KEYCLOAK_URL=https://keycloak.instance/auth
KEYCLOAK_REALM=master

#
#
#

AWS_REGION=eu-central-1
AWS_ACCESS_KEY=publickey
AWS_SECRET_KEY=secretkey
AWS_BUCKET_NAME=s3-bucket

#
#
#

DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/...