{
  "openapi": "3.0.2",
  "info": {
    "title": "BuildTheEarth.net API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.buildthe.earth/api/v1",
      "description": "Development instance"
    },
    {
      "url": "https://api.buildtheearth.net/api/v1",
      "description": "Production instance"
    },
    {
      "url": "http://localhost:8080/api/v1",
      "description": "Local instance"
    }
  ],
  "tags": [
    {
      "name": "General",
      "description": "General Utility Functions"
    },
    {
      "name": "Buildteams",
      "description": "Anything regarding the buildteams"
    },
    { "name": "FAQ", "description": "Anything regarding FAQ Questions" },
    { "name": "Users", "description": "Anything regarding Users" },
    { "name": "Contacts", "description": "Anything regarding Contacts" },
    { "name": "Newsletter", "description": "Anything regarding the Newsletter" }
  ],
  "paths": {
    "/healthcheck": {
      "get": {
        "description": "Check the Health of the API",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": ["General"]
      }
    },
    "/buildteams": {
      "get": {
        "description": "Get a list of all build teams",
        "parameters": [
          {
            "description": "The page of results to return, **starting at 0**",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": ["Buildteams"]
      }
    },
    "/buildteams/{id}": {
      "get": {
        "description": "Get a build team",
        "parameters": [
          {
            "description": "The uuid of the buildteam",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Include Builds",
            "in": "query",
            "name": "builds",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Include Showcases",
            "in": "query",
            "name": "showcases",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Include Members",
            "in": "query",
            "name": "members",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Buildteam not found",
            "content": {
              "application/json": {
                "example": {
                  "code": 404,
                  "message": "Buildteam does not exit.",
                  "translationKey": "404"
                }
              }
            }
          }
        },
        "tags": ["Buildteams"]
      },
      "post": {
        "description": "Update a buildteam. Required Permission: buildteam.edit",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Buildteam not found",
            "content": {
              "application/json": {
                "example": {
                  "code": 404,
                  "message": "Buildteam does not exit.",
                  "translationKey": "404"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "The uuid of the buildteam",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Buildteams"]
      }
    },
    "/buildteams/{id}/application/questions": {
      "get": {
        "description": "Get a list of all application questions of a buildteam",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationQuestion"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Buildteam not found",
            "content": {
              "application/json": {
                "example": {
                  "code": 404,
                  "message": "Buildteam does not exit.",
                  "translationKey": "404"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "The uuid of the buildteam",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Buildteams"]
      },
      "post": {
        "description": "Update all application questions of a buildteam. Required Permission: buildteam.application.edit",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationQuestion"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Buildteam not found",
            "content": {
              "application/json": {
                "example": {
                  "code": 404,
                  "message": "Buildteam does not exit.",
                  "translationKey": "404"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "The uuid of the buildteam",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Buildteams"]
      }
    },
    "/buildteams/{id}/socials": {
      "get": {
        "description": "Get a list of all socials of a buildteam",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Buildteam not found",
            "content": {
              "application/json": {
                "example": {
                  "code": 404,
                  "message": "Buildteam does not exit.",
                  "translationKey": "404"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "The uuid of the buildteam",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Buildteams"]
      },
      "post": {
        "description": "Update all socials of a buildteam. Required Permission: buildteam.edit",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Buildteam not found",
            "content": {
              "application/json": {
                "example": {
                  "code": 404,
                  "message": "Buildteam does not exit.",
                  "translationKey": "404"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "The uuid of the buildteam",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Buildteams"]
      }
    },
    "/faq": {
      "get": {
        "description": "Get a list of all FAQ Questions",
        "parameters": [
          {
            "description": "The page of results to return, **starting at 0**",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": ["FAQ"]
      },
      "post": {
        "description": "Create a new FAQ Question. Required Permission: faq.add",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        },
        "tags": ["FAQ"]
      }
    },
    "/users": {
      "get": {
        "description": "Get a list of all Users. Required Permission: users.list",
        "parameters": [
          {
            "description": "The page of results to return, **starting at 0**",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": ["Users"]
      }
    },
    "/users/{id}/permissions": {
      "get": {
        "description": "Get a list of all Permissions of a User. Required Permission: users.list",
        "parameters": [
          {
            "description": "The page of results to return, **starting at 0**",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": ["Users"]
      }
    },
    "/contacts": {
      "get": {
        "description": "Get a list of contacts",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": ["Contacts"]
      }
    },
    "/newsletter/{id}": {
      "get": {
        "description": "Get a newsletter",
        "parameters": [
          {
            "description": "The uuid of the newsletter",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": ["Newsletter"]
      }
    },
    "/newsletter": {
      "get": {
        "description": "Get a list of newsletters",
        "parameters": [
          {
            "description": "The page of results to return, **starting at 0**",
            "in": "params",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": ["Newsletter"]
      }
    },
    "/account": {
      "get": {
        "description": "Get your account information",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": ["General"]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "openId": {
        "type": "openIdConnect",
        "openIdConnectUrl": "https://auth.buildtheearth.net/auth/realms/website/.well-known/openid-configuration"
      }
    },
    "schemas": {
      "ApplicationQuestion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "cda8eee7-32eb-4abc-bfa0-15d550e15a2a"
          },
          "title": {
            "type": "string",
            "example": "This is a question."
          },
          "subtitle": {
            "type": "string",
            "example": "Do you like this question?"
          },
          "icon": {
            "type": "string",
            "example": "question-circle",
            "description": "Icon name from https://tabler-icons.io/"
          },
          "additionalData": {
            "type": "object",
            "description": "Please see external documentation"
          },
          "buildTeamId": {
            "type": "string",
            "format": "uuid",
            "example": "24f85120-be02-463f-8806-8d1350562470"
          },
          "placeholder": {
            "type": "string",
            "example": "This is a placeholder"
          },
          "required": {
            "type": "boolean",
            "example": true
          }
        }
      }
    }
  }
}
