{
  "openapi": "3.0.2",
  "info": {
    "title": "BuildTheEarth.net API",
    "version": "1.1"
  },
  "servers": [
    {
      "url": "https://api.buildtheearth.net/api/v1",
      "description": "Production instance"
    },
    {
      "url": "http://localhost:8080/api/v1",
      "description": "Development instance"
    }
  ],
  "tags": [
    {
      "name": "General",
      "description": "General Utility Functions"
    },
    {
      "name": "Buildteams",
      "description": "Anything regarding the buildteams"
    },
    {
      "name": "Applications",
      "description": "Anything regarding Applications"
    },
    {
      "name": "FAQ",
      "description": "Anything regarding FAQ Questions"
    },
    {
      "name": "Users",
      "description": "Anything regarding Users"
    },
    {
      "name": "Contacts",
      "description": "Anything regarding Contacts"
    },
    {
      "name": "Newsletter",
      "description": "Anything regarding the Newsletter"
    }
  ],
  "paths": {
    "/healthcheck": {
      "get": {
        "description": "Check the Health of the API",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "application/json": {} }
          }
        },
        "tags": ["General"]
      }
    },
    "/account": {
      "get": {
        "description": "Get your account information",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OwnAccount"
                  }
                }
              }
            }
          }
        },
        "tags": ["General"]
      }
    },
    "/buildteams": {
      "get": {
        "description": "Get a list of all build teams",
        "parameters": [
          {
            "description": "The page of results to return, **starting at 0**",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BuildTeamMinimal"
                  }
                }
              }
            }
          }
        },
        "tags": ["Buildteams"]
      }
    },
    "/buildteams/{id}": {
      "get": {
        "description": "Get a build team",
        "parameters": [
          {
            "description": "The uuid of the buildteam",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Include Builds",
            "in": "query",
            "name": "builds",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Include Showcases",
            "in": "query",
            "name": "showcases",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Include Members",
            "in": "query",
            "name": "members",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BuildTeamFull"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Buildteam not found",
            "content": {
              "application/json": {
                "example": {
                  "code": 404,
                  "message": "Buildteam does not exit.",
                  "translationKey": "404"
                }
              }
            }
          }
        },
        "tags": ["Buildteams"]
      },
      "post": {
        "description": "Update a buildteam. Required Permission: buildteam.edit",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Buildteam not found",
            "content": {
              "application/json": {
                "example": {
                  "code": 404,
                  "message": "Buildteam does not exit.",
                  "translationKey": "404"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "The uuid of the buildteam",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Buildteams"]
      }
    },
    "/buildteams/{id}/application/questions": {
      "get": {
        "description": "Get a list of all application questions of a buildteam",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationQuestion"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Buildteam not found",
            "content": {
              "application/json": {
                "example": {
                  "code": 404,
                  "message": "Buildteam does not exit.",
                  "translationKey": "404"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "The uuid of the buildteam",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Buildteams"]
      },
      "post": {
        "description": "Update all application questions of a buildteam. Required Permission: buildteam.application.edit",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationQuestion"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Buildteam not found",
            "content": {
              "application/json": {
                "example": {
                  "code": 404,
                  "message": "Buildteam does not exit.",
                  "translationKey": "404"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "The uuid of the buildteam",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Buildteams"]
      }
    },
    "/buildteams/{id}/socials": {
      "get": {
        "description": "Get a list of all socials of a buildteam",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Social"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Buildteam not found",
            "content": {
              "application/json": {
                "example": {
                  "code": 404,
                  "message": "Buildteam does not exit.",
                  "translationKey": "404"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "The uuid of the buildteam",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Buildteams"]
      },
      "post": {
        "description": "Update all socials of a buildteam. Required Permission: buildteam.edit",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Social"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Buildteam not found",
            "content": {
              "application/json": {
                "example": {
                  "code": 404,
                  "message": "Buildteam does not exit.",
                  "translationKey": "404"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "The uuid of the buildteam",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Buildteams"]
      }
    },
    "/faq": {
      "get": {
        "description": "Get a list of all FAQ Questions",
        "parameters": [
          {
            "description": "The page of results to return, **starting at 0**",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/FAQ"
                  }
                }
              }
            }
          }
        },
        "tags": ["FAQ"]
      },
      "post": {
        "description": "Create a new FAQ Question. Required Permission: faq.add",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAQ"
                }
              }
            }
          }
        },
        "tags": ["FAQ"]
      }
    },
    "/users": {
      "get": {
        "description": "Get a list of all Users. Required Permission: users.list",
        "parameters": [
          {
            "description": "The page of results to return, **starting at 0**",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": ["Users"]
      }
    },
    "/users/{id}/permissions": {
      "get": {
        "description": "Get a list of all Permissions of a User. Required Permission: users.list",
        "parameters": [
          {
            "description": "The page of results to return, **starting at 0**",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": ["Users"]
      }
    },
    "/contacts": {
      "get": {
        "description": "Get a list of contacts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          }
        },
        "tags": ["Contacts"]
      }
    },
    "/newsletter/{id}": {
      "get": {
        "description": "Get a newsletter",
        "parameters": [
          {
            "description": "The uuid/issue of the newsletter",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If the database should look for issues with the id and not uuids",
            "in": "query",
            "name": "isIssue",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": ["Newsletter"]
      }
    },
    "/newsletter": {
      "get": {
        "description": "Get a list of newsletters",
        "parameters": [
          {
            "description": "The page of results to return, **starting at 0**",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": ["Newsletter"]
      }
    },
    "/applications": {
      "get": {
        "description": "Get a list of applications",
        "parameters": [
          {
            "description": "The page of results to return, **starting at 0**",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The buildteam to filter for",
            "in": "query",
            "name": "buildteam",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Extend BuildTeam Information",
            "in": "query",
            "name": "includeBuildteam",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Extend Reviewer Information",
            "in": "query",
            "name": "includeReviewer",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Extend Answer Information",
            "in": "query",
            "name": "includeAnswers",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": ["Applications"]
      }
    },
    "/applications/{id}": {
      "get": {
        "description": "Get one application",
        "parameters": [
          {
            "description": "The id of the application",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Extend BuildTeam Information",
            "in": "query",
            "name": "includeBuildteam",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Extend Reviewer Information",
            "in": "query",
            "name": "includeReviewer",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Extend Answer Information",
            "in": "query",
            "name": "includeAnswers",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": ["Applications"]
      },
      "post": {
        "description": "Review one application",
        "parameters": [
          {
            "description": "The id of the application",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Should the application be handeled as a trial application",
            "in": "query",
            "name": "isTrial",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": ["Applications"]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "openId": {
        "type": "openIdConnect",
        "openIdConnectUrl": "https://auth.buildtheearth.net/auth/realms/website/.well-known/openid-configuration"
      }
    },
    "schemas": {
      "OwnAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "cda8w7d7-34ub-9hw5-a4vj-11jb0dkeqa2a"
          },
          "ssoId": {
            "type": "string",
            "format": "uuid",
            "example": "dab80941-7ed8-4a3e-a75f-0969d4cd3fa4"
          },
          "discordId": {
            "type": "number",
            "example": 635411595253776385
          },
          "username": {
            "type": "string",
            "example": "Nudlsupp"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "nudelsuppe@buildtheearth.net"
          },
          "emailVerified": {
            "type": "boolean",
            "example": true
          },
          "avatar": {
            "type": "string",
            "format": "url",
            "example": "https://i.imgur.com/..."
          },
          "auth": {
            "type": "object",
            "properties": {
              "exp": {
                "type": "object",
                "properties": {
                  "unix": {
                    "type": "number",
                    "example": 1703265888
                  },
                  "readable": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-12-22T17:24:48.000Z"
                  }
                }
              },
              "iat": {
                "type": "object",
                "properties": {
                  "unix": {
                    "type": "number",
                    "example": 1703265888
                  },
                  "readable": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-12-22T17:24:48.000Z"
                  }
                }
              }
            }
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "permission": {
                  "type": "string",
                  "example": "permission.add"
                },
                "buildTeamSlug": {
                  "type": "string",
                  "nullable": true,
                  "example": "de"
                }
              }
            }
          }
        }
      },
      "BuildTeamMinimal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "cda8w7d7-34ub-9hw5-a4vj-11jb0dkeqa2a"
          },
          "name": {
            "type": "string",
            "example": "BTE Brasil"
          },
          "icon": {
            "type": "string",
            "format": "url",
            "example": "https://buildtheearth.net/uploads/5f440c4d8ff134bccf1731ee50c9c341dd3f0730.png"
          },
          "backgroundImage": {
            "type": "string",
            "format": "url",
            "example": "https://buildtheearth.net/uploads/6ac1b966e1ee674456d4b102498df832e46404ed.png"
          },
          "invite": {
            "type": "string",
            "example": "https://discord.gg/buildtheearth"
          },
          "about": {
            "type": "string",
            "example": "This team is building Brasil 1:1 in Minecraft"
          },
          "creatorId": {
            "type": "string",
            "format": "uuid",
            "example": "f61d1795-5ad1-4156-9fc4-58cdf50162bf"
          },
          "createdAt": {
            "type": "string",
            "format": "timestamp",
            "example": "2023-08-14T15:56:35.795Z"
          },
          "location": {
            "type": "string",
            "example": "Brasil"
          },
          "slug": {
            "type": "string",
            "example": "br"
          },
          "acceptionMessage": {
            "type": "string",
            "example": "Welcome to the team, you are now a builder!"
          },
          "rejectionMessage": {
            "type": "string",
            "example": "Not a good application, sorry."
          },
          "trialMessage": {
            "type": "string",
            "example": "Welcome to the team as a trial, please finish your trial buildings and then reapply."
          },
          "allowTrial": {
            "type": "boolean",
            "example": true
          },
          "_count": {
            "type": "object",
            "properties": {
              "members": {
                "type": "number",
                "example": 162
              },
              "builds": {
                "type": "number",
                "example": 37
              }
            }
          }
        }
      },
      "Social": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "f9dd9244-e777-4d6e-83ec-d36b9effa6e6"
          },
          "name": {
            "type": "string",
            "example": "Instagram"
          },
          "icon": {
            "type": "string",
            "enum": [
              "instagram",
              "tiktok",
              "youtube",
              "website",
              "discord",
              "twitter",
              "twitch"
            ]
          },
          "url": {
            "type": "string",
            "format": "url",
            "example": "https://www.instagram.com/btethemeparks"
          },
          "buildTeamId": {
            "type": "string",
            "format": "uuid",
            "example": "b3b8c684-becd-4779-a3b3-ca81fef7b954"
          }
        }
      },
      "Build": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "cda8eee7-32eb-4abc-bfa0-15d550e15a2a"
          },
          "name": {
            "type": "string",
            "example": "Empire State Building"
          },
          "createdAt": {
            "type": "string",
            "format": "timestamp",
            "example": "2023-08-15T12:43:57.586Z"
          },
          "buildTeamId": {
            "type": "string",
            "format": "uuid",
            "example": "b3b8c684-becd-4779-a3b3-ca81fef7b954"
          }
        }
      },
      "Showcase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "cda8eee7-32eb-4abc-bfa0-15d550e15a2a"
          },
          "name": {
            "type": "string",
            "example": "Empire State Building"
          },
          "image": {
            "type": "string",
            "format": "url",
            "example": "https://buildtheearth.net/uploads/284250477abdd47940acd1f2a5c8b4ac04a968de.png"
          },
          "createdAt": {
            "type": "string",
            "format": "timestamp",
            "example": "2023-08-15T12:43:57.586Z"
          },
          "buildTeamId": {
            "type": "string",
            "format": "uuid",
            "example": "b3b8c684-becd-4779-a3b3-ca81fef7b954"
          }
        }
      },
      "BuildTeamFull": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BuildTeamMinimal"
          },
          {
            "type": "object",
            "properties": {
              "socials": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Social"
                }
              },
              "builds": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Build"
                }
              },
              "showcases": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Showcase"
                }
              }
            }
          }
        ]
      },
      "BuildTeam": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BuildTeamMinimal"
          },
          {
            "type": "object",
            "properties": {
              "socials": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Social"
                }
              }
            }
          }
        ]
      },
      "FAQ": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "cda8eee7-32eb-4abc-bfa0-15d550e15a2a"
          },
          "question": {
            "type": "string",
            "example": "Is this a question?"
          },
          "answer": {
            "type": "string",
            "example": "Yes it is!"
          },
          "links": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "748342ba-cedd-4aaa-9f55-1cc3529b4a75"
          },
          "name": {
            "type": "string",
            "example": "No Leak"
          },
          "role": {
            "type": "string",
            "example": "CMO"
          },
          "discord": {
            "type": "string",
            "example": "noleak126"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "noleak@buildtheearth.net"
          },
          "avatar": {
            "type": "string",
            "format": "url",
            "example": "https://cdn.discordapp.com/attachments/705934480908746834/895140092090400818/admin-shield-vector.png"
          }
        }
      },
      "ApplicationQuestion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "cda8eee7-32eb-4abc-bfa0-15d550e15a2a"
          },
          "title": {
            "type": "string",
            "example": "This is a question."
          },
          "subtitle": {
            "type": "string",
            "example": "Do you like this question?"
          },
          "icon": {
            "type": "string",
            "example": "question-circle",
            "description": "Icon name from https://tabler-icons.io/"
          },
          "additionalData": {
            "type": "object",
            "description": "Please see external documentation"
          },
          "buildTeamId": {
            "type": "string",
            "format": "uuid",
            "example": "24f85120-be02-463f-8806-8d1350562470"
          },
          "placeholder": {
            "type": "string",
            "example": "This is a placeholder"
          },
          "required": {
            "type": "boolean",
            "example": true
          }
        }
      }
    }
  }
}
